/Standartstyle/DBLib
/Standartstyle/packages
/Standartstyle/Standartstyle/App_Data
/Standartstyle/Standartstyle/bin
/Standartstyle/Standartstyle/obj
/Standartstyle/Standartstyle/Upload
/Standartstyle/Standartstyle/Content/upload
/Standartstyle/.vs
/Standartstyle/Standartstyle/Content/files
