@model  Standartstyle.Models.CatalogModel

<div id="categories">
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a><span class="">Категории</span></a>
                </li>
                @foreach (var category in Model.Categories)
                {

                    <li class="category @if(category.Equals(Model.ActiveCategory)){<text>active</text>}">
                        <a>
                            @category.Name
                            @if (category.Code > 0)
                            {
                                <span class="glyphicon glyphicon-trash pull-right" onclick="deleteCategory(@category.Code)"></span>
                                <span class="glyphicon glyphicon-edit pull-right" onclick="editCategory(@category.Code)"></span>
                            }
                        </a>

                    </li>
                }
                <li>
                    <a href="#">
                        Добавить новую<span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
