@model  Standartstyle.Models.CatalogModel

<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pb-2 pt-2 bg-light">
    <ul class="nav nav-pills nav-fill">
        @foreach (var category in Model.Categories)
        {
            <li class="nav-item">
                <a class="nav-link @if(Model.ActiveCategory.Code == @category.Code){<text> active</text>}" href="#">
                    @category.Name
                </a>
            </li>
        }
    </ul>
</div>