@model IEnumerable<Standartstyle.Models.GoodModel>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>

        @foreach (var good in Model)
        {
            <div class="col-md-4">
                <div class="img-wrapper">
                    <div class="thumbnail">
                        <img src="@Url.Content(good.Images[0].Path+good.Images[0].GetFullFilename())" name="@good.Images[0].Name" alt="@good.Images[0].Name" class="img-responsive vertical-middle">
                        <span class="img-span"></span>                        
                    </div>                   
                </div>
            </div>          
        }
    </div>
</div>