@model IEnumerable<Standartstyle.Models.ImageModel>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="thumbnail @if (item.MainImageFlag) {<text> main</text>}" style="width: 210px; height: 210px;" >
            <p id="@item.Name">
                <img src="@Url.Content(item.Path+item.GetFullFilename())" name="@item.Name" alt="@item.Name">
            </p>
            @if (item.MainImageFlag)
            {
                <div class="main-image">Используется как главная</div>
            }            
        </div>
    </div>
}
