body, div {
    padding: 0px;
    margin: 0px;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

@font-face {
    font-family: arciform;
    src: url(../fonts/arciform.otf);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    height: auto;
    float: left;
    width: 100%;
    background-image: url(img/header-bg.jpg);
    background-position: center;
}

    .header:before, .header:after, .content:before, .content:after {
        display: table;
        line-height: 0;
        content: "";
    }

.content {
    margin: 0px auto;
    max-width: 1280px;
}


.logo {
    float: left;
    width: 100%;
    padding: 20px 15px;
    margin: 0 auto;
    text-align: center;
}

    .logo a {
        text-shadow: 1px 1px black;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: arciform;
        font-size: 40px;
        color: #ffffff;
        font-weight: 800;
    }

        .logo a:hover {
            cursor: pointer;
            text-shadow: 2px 2px black;
            text-decoration: none;
        }

.box-contact {
    padding: 10px 0;
    color: #fff;
    font-family: Arial, Verdana;
}

    .box-contact i[class*="logo-image"] {
        width: 40px;
        height: 40px;
        float: left;
        background-position: center;
        display: block;
    }

.contact-data {
    cursor: default;
    font-size: 20px;
    text-shadow: 1px 1px black;
    vertical-align: middle;
    line-height: 40px;
}

.contact-info {
    padding-left: 10px;
}

.contact-data a {
    color: #fff;
}

    .contact-data a:hover {
        text-decoration: none;
        text-shadow: 2px 2px black;
    }

.mail-logo-image {
    background: url(img/mail.png);
    background-size: 100%;
}

.skype-logo-image {
    background: url(img/skype.png);
    background-size: 100%;
}

.mts-logo-image {
    background: url(img/mts.svg);
    background-size: 100%;
}

.velcom-logo-image {
    background: url(img/velcom.svg);
    background-size: 100%;
}
