<nav class="navbar navbar-dark navbar-expand sticky-top flex-column flex-md-row bg-dark" role="navigation">
    <div class="col-md-2 text-center text-md-left text-lg-left text-xl-left mw-100">
        <a class="navbar-brand mr-0 mr-md-2" href="#">Стандарт Стиль</a>
    </div>
    <ul class="navbar-nav w-100">
        <li class="nav-item">@Html.ActionLink("Каталог мебели", "Catalog", "Admin", new { @class = "nav-link" })</li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">@Html.ActionLink("Выход", "Logoff", "Account", new { @class = "nav-link" })</li>
    </ul>
</nav>